.banner{
    width: 100%;
    margin: 0;
}
.columnone{
    padding-top: 300px;
    padding-bottom: 270px;
}
#frontend{
    font-size: 42px;
}

#reactjs{
    font-size: 22px;
} 


@media screen and (max-width:600px) {
    .columnone{
       padding-top:90px;
       padding-bottom: 0px; 
    }
    .columntwo{
        padding-top:0px;
        padding-bottom: 0px;
            }
    #frontend{
        font-size: 28px;
        padding-bottom: 10px;
        padding-top: 0px;
    }
    #reactjs{
        font-size: 12px;
        
        align-items: center;
    } 
}